
<div class="card-body">
    <a href="caracteristicas.html">
        <h4><b>Marca:</b> {{autos.Marca}}</h4> 
     </a>
     <p class="small mb-0"><b>Modelo:</b> {{autos.Modelo}}</p>
     <p class="small"><b>Responsable:</b> {{autos.Responsable}}</p>
     <img class="img-fluid mb-3" src={{autos.Foto}} alt=""/>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, itaque debitis blanditiis aut, 
       neque natus rerum tempora at ex cumque aperiam illo, ducimus sunt obcaecati eos nesciunt. 
       Amet, ea deleniti?
     </p>
     <a href="carateristicas.html" class="btn btn-primary">Mas informacion</a>
</div>
<br/>
<div class="card-body">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
      </ul>
    </nav>
  </div>